<!DOCTYPE html>
<html>
<head>
    <title>找工作-青岛本地餐饮综合服务平台</title>
    {include file='public/m-meta'/}
</head>
<body>
<!--main start-->

<div class="people_index">
    <div class="filter component_filter">
        <ul>
            <li><select name="area" class="area">
                <option value="">期望区域</option>
            </select></li>
            <li><select name="type" class="job">
                <option value="">职位列表</option>
            </select></li>
            <li><select name="salary" class="salary">
                <option value="">待遇</option>
            </select></li>
            <li><select name="workyear" class="workyear">
                <option value="">经验</option>
            </select></li>
        </ul>
    </div>
    <div class="list">
        <ul></ul>
    </div>
</div>
<script type="text/javascript" src="{:config('mobile')}/../dist/js/people_people.dist.js"></script>
<!--main end-->
</body>
</html>