<label class="form-label col-xs-4 col-sm-3">
				[label]：
			</label>
<div class="formControls col-xs-8 col-sm-9">
	<span id="fname">
					[showvalue]
				</span>
	<input type="hidden" name="[name]" value="[value]" />
	<a class="btn btn-primary radius" onclick="showCateSelect()">选择分类</a>
	<script>
		function showCateSelect() {
			layer_show('选择分类', '{:url("cate/select",["type"=>"[type]","callback"=>"callback1"])}', 700, 400)
		}

		function callback1(id, name) {
			$('[name="[name]"]').val(id);
			$('[name="[name]"]').prev().text(name);
		}
	</script>
</div>