<!--主要内容 开始-->
<div class="box"> 
  
  <!--左边开始-->
  <div  class="des_fl">
    <div class="fl_1">
      <div class="des_fl_position">
      <span>品牌营销经理</span><span>￥面议</span>
      <!--  拍招聘标识 -->
       </div>
      <div class="des_fl_first">
        <div class="des_fl_first_1">
						<div class="des_fl_first_1f">
							<img src="images/didian_1.png" title="工作地" /><span
								class="">深圳</span>
							&nbsp;&nbsp;&nbsp;&nbsp;<img
									src="images/jingyan_1.png" title="工作经验">
								<span class=""> 10年以上</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="images/xueli_1.png" title="学历">
								<span>学历不限</span>
							</div>
						<div class="des_fl_first_1s">
			<span ></span>
						</div>
          <div class="des_fl_first_1t">职位发布时间：2016-10-19</div>
        </div>
		<div class="des_fl_first_2">
          <div class="des_fl_first_2_oo">
            <a href="#" class="des_fl_first_2_span popup2"><img src="images/jubao_1.png" class="des_fl_first_2t">
            <input type="hidden" id="positionId" name="positionId" value="20160914161259582814">
            <input type="hidden" id="companyId" name="companyId" value="20160914161003694628">
            <span>举报</span></a>
          </div>
          <div class="des_fl_first_2_ot">
           <a href="#" onclick="collectPosition('20160914161259582814','20160914161003694628')" class="des_fl_first_2_span"><img src="images/shoucang_1.png" class="des_fl_first_2s">
            			<span>收藏</span></a>
	    			</div>
          <div class="des_fl_first_2_od">
            <a href="#" class="des_fl_first_2_span">
            <span>分享</span></a>
            <div class="share"><div class="bdsharebuttonbox bdshare-button-style0-24" data-bd-bind="1452564537975"><a class="bds_more" data-cmd="more" style="margin:0 10px;float:right;background-position: 0 4px!important;margin-right:3px;margin-top:-40px;background-image: url(/images/fenxiang_1.png);background-repeat: no-repeat;background-size: 18px 18px;"></a></div></div>
          </div>
        </div>
		
      </div>
      <div class="des_fl_second">职位描述</div>
 			<p class="des_fl_second_p1">[岗位职责]<br/>
 					核心职责	
<br/>1、根据公司发展战略规划，进行公司品牌战略规划及品牌体系建设。全面负责公司品牌策划、设计、推广及管理工作，建立和发展公司的品牌文化，产品文化； 
<br/>2、准确把握公司的品牌定位，公司产品风格，根据市场需求和变化、区域特性和市场信息进行品牌策划； 
<br/>3、制定与实施品牌营销战略、策略，地区覆盖及推广计划，包括日常维护工作； 
<br/>4、建立和维护与媒体、消费者等公众的良好关系，树立良好的品牌形象； 
<br/>5、根据品牌战略规划，领导完成对品牌形象的监督与管理，确保品牌形象的统一传播； 
<br/>6、根据品牌年度计划，审核年度广告、公关计划和预算，并监督投放过程和效果； 
<br/>7、负责各目标媒体的筛选与媒体的全面合作推行； 
<br/>8、完成公司的日常管理和品牌部工作的组织推动工作。
<br/>任职资格
<br/>1、10年以上品牌、公关、市场推广类工作经验，2年以上同级别岗位管理经验；
<br/>2、有过公司的品牌建立、宣传、推广项目全盘跟踪操作经验；
<br/>3、熟悉各种媒体渠道以及宣传手段；
<br/>4、口才佳，有一定的文书功底，可代表公司发言；
<br/>5、有敏锐的市场洞察力，在宣传方式上有一定的创新能力。</p>
 				<!--图片滚动-->
		
		<!--图片滚动 end-->

		<button class="des_fl_button" onclick="applyPosition('20160914161003694628','20160914161259582814')">申请</button>
					</div> 
<!--     <div class="fl_2">相似职位</div>
      <div class="fl_2_1">
        <div class="fl_2_1f"><img src="images/companyphoto_1.png"></div>
        <div class="fl_2_1s">
          <div class="fl_2_1s_1"><a href=""><span>服务员</span></a></div>
          <div class="fl_2_1s_2"><span class="">3k-5k</span></div>
          <div class="fl_2_1s_3"><span class="">红餐汇</span><span class="fl_2_1s_3d">&nbsp;[广州]</span></div>
        </div>
      </div> -->
  </div>
  <!--左边结束--> 
  
  <!--右边开始-->
  <div class="right fr fr_1"> 
    <!--企业-->
    <div class="right_info_wrap fr_11">
      <div class="base_title_1">
        企业信息</div>
      <div class="comapy">
        <div class="right_info">
        
        
        	<img src="upload/clogo/2016/09/14/1610403994.png" class="fr_1_first">
          
          <div class="fr_1_second"><a href="com/20160914161003694628.html" target="_blank" class="fr_1_second00">深圳市五稻香餐饮连锁集团</a>
          		<a href="certify.action" title="什么是认证？" class="fr_1_second01">
          	<span class="star-in cur" style="">&nbsp;(未认证)</span>
          	</a>
          </div>
         <div class="fr_1_third">公司规模：
	          其他</div>
	           <div class="fr_1_forth">企业性质：其他</div>
          <div class="fr_1_fif">联系人：陈先生</div>
          <div class="fr_1_six">联系电话：<a href="login.action" style="font-size:1em;color:#18d4cd">（登录后可查看）</a></div>
          <div class="fr_1_seve">联系地址：广东省深圳市</div>
          <div class="company_map"> 
            <!--    百度地图-->
            <div class="input_div iam_map_div clearfix  "  id="iam_map_div1">
            	<iframe style="height:220px;width:auto;" id="companyiframe" name="companyiframe" src="common/baiduMap.jsp?addr=广东省深圳市" ></iframe>
            </div>
             <!--    百度地图--> 
             <div class="gekai3"></div>
          </div>
          <a href="javascript:void(0)" id="mapPreview" ><div class="checkmap">点击查看完整地图</div></a>
        </div>
      </div>
    </div>
    <div class="noticeDiv" style="display:block;">
			<img src="images/close.png" class="close" style="position:absolute; right:15px; top:15px; z-index:2;">
            <div class="company_map" style="position:relative; width:100%; height:100% ;"> 
            
            <iframe style="position:absolute; left:50%; top:50%; width:952px; height:580px; margin-top:-260px; margin-left:-426px" id="companyiframe" name="companyiframe" src="common/baiduMap3.jsp?addr=广东省深圳市" ></iframe>
             
          </div>
   </div>
    <!--企业结束--> 
  </div>
  <!--右边结束-->
  <div class="clearboth"></div>
</div>
<!--主要内容 结束-->
<div class="gekai6"></div>
<div id="map_test" style=" height:500px;"></div>
<!--底部 -->
<a href="feedback.action"><img src="images/fangkui_1.png" class="fangkui_1"></a>
<div class="gekai3"></div>