<div class="header">
	<div class="hader_child clearboth">
		<div class="one">
			<a href=""><img src="{:config('hongcheng')}/images/logo.png" /></a>
		</div>
		<ul class="two">
			<li>
				<a href="" class="bg_cur">首页</a>
			</li>
			<li>
				<a href="{:url('lists')}">找工作</a>
			</li>
			<!--<li>
				<a href="">猎头专区</a>
			</li>-->
			<!--<li>
                        <a href="" >优秀企业</a>
                    </li>-->
			<!--<li>
				<a href="" target="_blank">餐饮资讯</a>
			</li>-->
		</ul>
		<div class="three">

			<!--<li>
				<a href="">登录&nbsp;|&nbsp;</a>
			</li>
			<li>
				<a href="">注册&nbsp;&nbsp;&nbsp;&nbsp;</a>
			</li>-->
			<li><img src="{:config('hongcheng')}/images/mobile_1.png" class="mobile_1">&nbsp;
				<a href="" id="phone_code" data-img="{:config('hongcheng')}/images/weixin.jpg">关注青岛餐饮招聘</a>
			</li>
		</div>
		<div class="clearboth">
		</div>
	</div>
</div>