{layout name="layout1" /}
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add" action="{$action}">
		<input type="hidden" name="model" value="{$Request.param.model}" />
		{if condition="$data.daoru eq 1"}
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">
			已导入：				
			</label>
			<span id="" class="col-xs-4 col-sm-3">
				<a href="javascript:;" onclick="goto()">下一个</a>
			</span>
	</div>
	{/if}
	<div class="row cl">
		{php}
		echo admin_tpl_input('名称','name',$data,'请输入名称','text',[
		'required'=>true
		]);
		{/php}
	</div>
	{if condition="$model eq 'job'"}
	
	<div class="row cl">
			{include file='public/cateSelect' label="职业分类" name="type" value="$type" showvalue="$typetext" type='job'}
	</div>
	<div class="row cl">
			{include file='public/memberSelect' label="所属企业" name="company" value="$company" showvalue="$companytext" type='company'}
	</div>
	<div class="row cl">
		{php}
		echo admin_tpl_select('社保','sb',$data,$sb,[
		]);
		{/php}
		
	</div>
	<div class="row cl">
		{php}
		echo admin_tpl_select('包吃住','bcz',$data,$bcz,[
		]);
		{/php}
		{$data.edu}
	</div>
	<div class="row cl">
		{php}
		echo admin_tpl_select('待遇','salary',$data,get_coclasses_fid(78),[
		]);
		{/php}
		{$data.salary}
	</div>
	<div class="row cl">
		{php}
		echo admin_tpl_select('地区','area',$data,get_coclasses_fid(1),[
		]);
		{/php}
		{$data.area}
	</div>
	<div class="row cl">
		{php}
		echo admin_tpl_select('经验','workyear',$data,get_coclasses_fid(87),[
		]);
		{/php}
		{$data.workyear}
	</div>
	<div class="row cl">
		{php}
		echo admin_tpl_upload('缩略图','thumb_id',$data,['cate'=>108]);
		{/php}
	</div>
	{/if}
	
	{if condition="$model eq 'news'"}
	<div class="row cl">
			{include file='public/cateSelect' label="新闻分类" name="cate" value="$cate" showvalue="$catename" type='news'}
		</div>
	{/if}
	<div class="row cl">
		{php}
		echo admin_tpl_html('简介','content',$data);
		{/php}
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			{if condition="$data.daoru eq 1"}
			<input onclick="goto()" class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;下一个&nbsp;&nbsp;">
			{/if}	
		</div>
	</div>
	</form>
</article>
<script type="text/javascript">
	$('#form-admin-add').validate({
		rules:{
			repass:{
				equalTo:'#pass'
			}
		},
		submitHandler:function(form){
			doadd();
		}
	});
	
	
	
	function doadd(){
		var form=$('#form-admin-add')[0];	
		doApi('post',form.action,{
				data:$(form).serialize()
			}).then(function(data){
				showError(data);
				if(data.code==0){
					layer.msg('编辑成功',{
						icon:1,time:1500
					},function(){
						//
					})
				}
				return doApi('post','/api/sql/update',{data:{
					table:'sheet2',
					id:'{$data.id}',
					daoru:1
				}});
			}).then(function(data){
				if(data.code==0){
					goto();					
				}
			});
	}
	
	function goto(){
		location.href='{:url("daoru?model=".$model)}?page='+('{$page+1}')
	}
	
</script>