<!--左边开始-->
  <div class="right fr" style="float:left!important;width:25%;"> 
    <!--热门分类开始-->
	﻿    <div class="hot_indetury" style="background-color:#f5f5f5;">
      <div class="row">
        <div class="col-md-6 wrap_hot_cate ">
          <li>
              <div class="hot_caixi"><img src="{:config('hongcheng')}/images/caixi_1.png" class="hotfenlei_img"><span>菜系/出品</span><img src="{:config('hongcheng')}/images/fenlei_arrow.png" class="fenlei_arrow"></div>
              <p class="child_cate"><a href="" class="child_cate_span key2">川菜</a><a href="" class="child_cate_span key2">湘菜</a> </p>
              <p  class="child_cate"><a href="" class="child_cate_span key2">粤菜</a><a href="" class="child_cate_span key2">融合菜</a> </p>
              <p class="child_cate"><a href="" class="child_cate_span key2">雕刻/盘饰</a><a href="" class="child_cate_span key2">打荷/水台</a> </p>
              <p class="child_cate"><a href="" class="child_cate_span key2">行政总厨</a><a href="" class="child_cate_span key2">厨师长</a> </p>
            <span class="span_1"></span>
            <div class="submenu">
              <div class="leftdiv">
                <dl>
                    <dt><a href="javascript:;">菜系厨师</a></dt>
                    <dd>
						<a href="" class="key2">川菜</a> 
						<a href="" class="key2">湘菜</a> 
						<a href="" class="key2">粤菜</a> 
						<a href="" class="key2">闽菜</a> 
						<a href="" class="key2">苏浙菜</a> 
						<a href="" class="key2">鲁菜</a> 
						<a href="" class="key2">徽菜</a> 
						<a href="" class="key2">家常菜</a> 
						<a href="" class="key2">官府菜</a> 
						<a href="" class="key2">东北菜</a> 
						<a href="" class="key2">融合菜</a> 
						<a href="" class="key2">分子料理</a> 
						<a href="" class="key2">日韩料理</a> 
						<a href="" class="key2">烧烤/火锅</a> 
						<a href="" class="key2">快餐/饭堂</a> 
                    </dd>
                </dl>
                <dl>
                    <dt><a href="javascript:;">中厨部</a></dt>
                    <dd>
                        <a href="" class="key2">雕刻/盘饰</a>
                        <a href="" class="key2">炒锅</a>
                        <a href="" class="key2">砧板</a>
                        <a href="" class="key2">上什</a>
                        <a href="" class="key2">打荷/水台</a>
                        <a href="" class="key2">插班</a>
                        <a href="" class="key2">海鲜池</a>
                    </dd>
                </dl>
				<dl>
                    <dt><a href="javascript:;">出品部</a></dt>
                    <dd>
                        <a href="" class="key2">行政总厨</a>
                        <a href="" class="key2">出品总监</a>
                        <a href="" class="key2">厨师长</a>
                        <a href="" class="key2">部门主管</a>
                        <a href="" class="key2">凉菜部</a>
                        <a href="" class="key2">烧腊部</a>
                        <a href="" class="key2">西餐厨师</a>
                        <a href="" class="key2">西点部</a>
                        <a href="" class="key2">中点部</a>
                    </dd>
                </dl>
              </div>
            </div>
          </li>
        </div>
        <div class="col-md-6 wrap_hot_cate ">
          <li>
              <div class="hot_caixi"><img src="{:config('hongcheng')}/images/chupin_1.png" class="hotfenlei_img"><span>餐饮/酒店</span><img src="{:config('hongcheng')}/images/fenlei_arrow.png" class="fenlei_arrow"></div>
              <p class="child_cate"><a href="" class="child_cate_span key2">店长/经理</a><a href="" class="child_cate_span key2">服务员</a> </p>
              <p  class="child_cate"><a href="" class="child_cate_span key2">领班</a><a href="" class="child_cate_span key2">主管/主任</a> </p>
              <p class="child_cate"><a href="" class="child_cate_span key2">酒店服务员</a><a href="" class="child_cate_span key2">后勤部</a> </p>
            <span class="span_1" style="height:153px;"></span>
            <div class="submenu">
              <div class="leftdiv">
                <dl>
                    <dt><a href="javascript:;">餐饮部</a></dt>
                    <dd>
                        <a href="" class="key2">餐饮总监</a>
                        <a href="" class="key2">店长/经理</a>
                        <a href="" class="key2">酒水部</a>
                        <a href="" class="key2">主管/主任</a>
                        <a href="" class="key2">领班</a>
                        <a href="" class="key2">服务员</a>
                        <a href="" class="key2">传菜员</a>
                        <a href="" class="key2">茶艺</a>
                        <a href="" class="key2">迎宾</a>
                    </dd>
                </dl>
				<dl>
                    <dt><a href="javascript:;">前厅/客房</a></dt>
                    <dd>
                        <a href="" class="key2">前厅经理</a>
                        <a href="" class="key2">大堂副理</a>
                        <a href="" class="key2">商场部</a>
                        <a href="" class="key2">预定部</a>
                        <a href="" class="key2">礼宾</a>
                        <a href="" class="key2">后勤部</a>
                        <a href="" class="key2">房务部</a>
                        <a href="" class="key2">洗衣部</a>
                        <a href="" class="key2">楼层管理</a>
                        <a href="" class="key2">花房部</a>
                        <a href="" class="key2">酒店服务员</a>
                    </dd>
                </dl>
              </div>
            </div>
          </li>
        </div>
        <div class="col-md-6 wrap_hot_cate ">
          <li>
              <div class="hot_caixi"><img src="{:config('hongcheng')}/images/caiwu_1.png" class="hotfenlei_img"><span>行政/人事</span><img src="{:config('hongcheng')}/images/fenlei_arrow.png" class="fenlei_arrow"></div>
              <p class="child_cate"><a href="" class="child_cate_span key2">助理/秘书</a><a href="" class="child_cate_span key2">经理/副经理</a> </p>
              <p  class="child_cate"><a href="" class="child_cate_span key2">人事专员</a><a href="" class="child_cate_span key2">质检部</a> </p>
            <span class="span_1" style="height:109px;"></span>
            <div class="submenu">
              <div class="leftdiv">
                <dl>
                    <dt><a href="javascript:;">行政办</a></dt>
                    <dd>
						<a href="" class="key2">总经理/副总经理</a>
						<a href="" class="key2">经理/副经理</a>
						<a href="" class="key2">助理/秘书</a>
						<a href="" class="key2">行政人员</a>
                    </dd>
                </dl>
				<dl>
                    <dt><a href="javascript:;">人事部</a></dt>
                    <dd>
						<a href="" class="key2">人事经理</a>
						<a href="" class="key2">人事主管</a>
						<a href="" class="key2">人事专员</a>
						<a href="" class="key2">劳资部</a>
						<a href="" class="key2">培训部</a>
						<a href="" class="key2">质检部</a>
                    </dd>
                </dl>
              </div>
            </div>
          </li>
        </div>
        <div class="col-md-6 wrap_hot_cate ">
          <li class="houyin_1">
              <div class="hot_caixi"><img src="{:config('hongcheng')}/images/houqin_1.png" class="hotfenlei_img"><span>市场/财务/工程</span><img src="{:config('hongcheng')}/images/fenlei_arrow.png" class="fenlei_arrow"></div>
              <p class="child_cate"><a href="" class="child_cate_span key2">网络专员</a><a href="" class="child_cate_span key2">销售员</a> </p>
              <p  class="child_cate"><a href="" class="child_cate_span key2">拓展总监</a><a href="" class="child_cate_span key2">采购部</a> </p>
              <p class="child_cate"><a href="" class="child_cate_span key2">会计师</a><a href="" class="child_cate_span key2">收银部</a> </p>
              <p  class="child_cate"><a href="" class="child_cate_span key2">保安员</a><a href="" class="child_cate_span key2">工程师</a> </p>
            <span class="span_1"></span>
            <div class="submenu">
              <div class="leftdiv">
				<dl>
                    <dt><a href="javascript:;">市场销售</a></dt>
                    <dd>
						<a href="" class="key2">拓展总监</a>
						<a href="" class="key2">开发/招商</a>
						<a href="" class="key2">策划方案</a>
						<a href="" class="key2">销售总监</a>
						<a href="" class="key2">网络专员</a>
						<a href="" class="key2">公关部</a>
						<a href="" class="key2">销售员</a>
                    </dd>
                </dl>
				<dl>
                    <dt><a href="javascript:;">财务/采购</a></dt>
                    <dd>
						<a href="" class="key2">财务部</a>
						<a href="" class="key2">会计师</a>
						<a href="" class="key2">成本控制</a>
						<a href="" class="key2">出纳</a>
						<a href="" class="key2">收银部</a>
						<a href="" class="key2">计账员</a>
						<a href="" class="key2">验收库管</a>
						<a href="" class="key2">采购部</a>
                    </dd>
                </dl>
				<dl>
                    <dt><a href="javascript:;">保安/工程</a></dt>
                    <dd>
						<a href="" class="key2">保安经理</a>
						<a href="" class="key2">保安员</a>
						<a href="" class="key2">工程经理</a>
						<a href="" class="key2">工程师</a>
						<a href="" class="key2">工程人员</a>
                    </dd>
                </dl>
              </div>
            </div>
          </li>
        </div>
      </div>
    </div>
    <!--热门分类结束-->

    <!--联系-->
    <div class="contactus_comapy" style="background-color:#f5f5f5;padding-left:15px!important;padding-right:15px!important;">
      <div class="contactus lianxi_1t">
        <div class=" no_border_t lianxi_1t_1">
          <div class="lianxi_1t_1_t" onclick="$('.erweima').toggle()">
            <img src="{:config('hongcheng')}/images/weixin_1.png" class="weixin_1">
            <span class="weixin_1_t">扫描关注微信</span>
          </div>
          <div class="lianxi_1t_2_t"><a href="" target="_blank">
            <img src="{:config('hongcheng')}/images/weibo_1.png" class="weibo_1">
            <span class="weibo_1_t">关注新浪微博</span></a>
          </div>
		  
          <div class="clearboth"></div>
		  <!--二维码-->
		<div class="erweima" style="display:none;background-color:#f5f5f5;"> 
		  <div  class="code"><br /><img alt=" 微信扫一扫 关注红程招聘" src="{:config('hongcheng')}/images/weixin.jpg"> </div>
		</div>
		<!--二维码结束-->
        </div>
        <div class="one no_border_t">
          <div class="icon_1"></div>
          <div class="neirong">
            <p class="neirong_1">020-29030214</p>
            <p class="neirong_1">020-29037116</p>
          </div>
          <div class="clearboth"></div>
        </div>
        <div class="two no_border_t">
          <div class="icon_1"></div>
          <div class="neirong">
            <p class="neirong_1">yt@canyin88.com</p>
          </div>
          <div class="clearboth"></div>
        </div>
      </div>
    </div>
    <!--联系结束--> 
    
  </div>
  <!--左边结束-->