<meta charset="utf-8">
<meta id="metaDescription" name="description" content="免费的餐饮招聘！红程招聘专注餐饮招聘求职，是最专业餐饮人才招聘网站，提供厨师、服务员、总厨等全部餐饮业招聘岗位，业务覆盖广州、北京、上海、深圳等所有城市。">
<meta name="keywords" content="餐饮招聘、餐饮人才、餐饮求职、酒店招聘">
<title>青岛餐饮招聘</title>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-store, must-revalidate">
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<meta name="renderer" content="webkit">
<script type="text/javascript" src="{:config('hongcheng')}/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="{:config('hongcheng')}/js/validator.js"></script>
<link type="text/css" rel="stylesheet" href="{:config('hongcheng')}/css/page.css" />
<link type="text/css" rel="stylesheet" href="{:config('hongcheng')}/css/frame.css" />
<link type="text/css" rel="stylesheet" href="{:config('hongcheng')}/css/frame-theme.css">
<link type="text/css" rel="stylesheet" href="{:config('hongcheng')}/css/reset.css" />
<link type="text/css" rel="stylesheet" href="{:config('hongcheng')}/css/common.css?1234d" />
<link type="text/css" rel="stylesheet" href="{:config('hongcheng')}/css/fonts/fontello.css" />
<link type="text/css" rel="stylesheet" href="{:config('hongcheng')}/css/index.css" />