{layout name="layout" /}
<!--主要内容 开始-->
<div class="box container-fluid"> 
  
  <!--右边开始-->
  <div class="left  fl" style="float:right!important;width:73%;padding-top:2%!important;">
    <div class="list_view list_view_1">
      <div class="upper upper_1">
        <div class=" left_div left_div_1 zhiwei_company" id="top_div"><a href="javascript:;" class="active cur">职位名称</a ><a  href="javascript:;"  >公司名称</a ></div>
		<input type="hidden" id="stype" value="1">
      </div>
    </div>
    <div class="search">
      <div class="search_panel">
        <div class="two">
          <input type="text" class="search_text s_keyword" autocomplete="off" id="keyword" name="keyword" onkeydown="if(event.keyCode==13){searchJob('');}">
        </div>
        <div class="three">
          <input type="button" class="submit-btn" name="search-btn" value="搜 索" onclick="searchJob('')">
        </div>
      </div>

      <ul class="search-hots">
        <li class="hotsearch">热门搜索 :</li>
        <li><a href=""><span onclick="searchJob('厨师');return false;">厨师</span></a></li>
		<li><a href=""><span onclick="searchJob('凉菜');return false;">凉菜</a></li>
		<li><a href=""><span onclick="searchJob('烧腊');return false;">烧腊</a></li>
		<li><a href=""><span onclick="searchJob('西餐厨师');return false;">西餐厨师</a></li>
		<li><a href=""><span onclick="searchJob('西点');return false;">西点</a></li>
		<li><a href=""><span onclick="searchJob('中点');return false;">中点</a></li>
		<li><a href=""><span onclick="searchJob('打荷');return false;">打荷</a></li>
		<li><a href=""><span onclick="searchJob('水台');return false;">水台</a></li>
		<li><a href=""><span onclick="searchJob('服务员');return false;">服务员</a></li>
      </ul>
    </div>
    <!--幻灯-->
    <div class="slider" id="slider">
      <ul id="zhl_huandeng_main_moveul">
<!--          <li > <a href="" class="lunbo_6" target="_blank"></a> </li>  -->
<!--        <li > <a href="" class="lunbo_6" target="_blank"></a> </li> -->
 			<li > <a href="" class="lunbo_2"></a> </li>
          <li > <a href="" class="lunbo_7" target="_blank"></a> </li> 
       
        <li > <a href="javascript:;" class="lunbo_3"></a> </li>
        <li > <a href="" class="lunbo_5"></a> </li>
        
      </ul>
    </div>
    <!--幻灯 结束--> 
    <div class="list_view list_view_1">
      <div class="gekai5"></div>
      <div class="upper tuijian_1">
        <div class=" left_div tuijian_2" id="left_div"> <a href="javascript:;" class="active cur ">急聘职位</a ><a  href="javascript:;" >最新职位</a ></div>
      </div>
      <div class="positions" id="positions">
		<ul class="urgent iam_ul">
		<div class="biankuangxian">
		<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              
              
             	<img src="{:config('hongcheng')}/upload/old/pc/companylogo/201601/2016012009412689332375.png">
				</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">白云机场中西餐厅服务员</span>
					</a>
				</div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                	
                	￥面议</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">广州逸臣贸易有限公司</span></div>
              </div>
              	        <!-- 拍招聘标识 -->
                	 <div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				  高中/中专</span></div>
                  <div class="liebiao_three_one_second"><span>
				  经验不限</span></div>
                  <div class="liebiao_three_one_third"><span>
				广州</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first">带薪年假</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">免费班车</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">节日礼物</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">餐补</span>
								</div>
                <div class="liebiao_three_three"> 
				  刷新时间:&nbsp;2017-01-25</div>
              </div>
            </div>     
          </li>
			<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              
              
             	<img src="{:config('hongcheng')}/images/logo_rand/logo16.jpg">
					
				</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">收银员</span>
					</a>
				</div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                	
                	￥3千-4千</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">致盛餐厅</span></div>
              </div>
              	        <!-- 拍招聘标识 -->
                	 <div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				  学历不限</span></div>
                  <div class="liebiao_three_one_second"><span>
				  经验不限</span></div>
                  <div class="liebiao_three_one_third"><span>
				深圳</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first"></span>
								</div>
                <div class="liebiao_three_three"> 
				  刷新时间:&nbsp;2017-01-19</div>
              </div>
            </div>     
          </li>
			<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              
              
             	<img src="{:config('hongcheng')}/upload/clogo/2017/01/16/1154296933.jpg">
				</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">厨师</span>
					</a>
				</div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                	
                	￥面议</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">上海广暄誉商务信息咨询有限公司</span></div>
              </div>
              	        <!-- 拍招聘标识 -->
                	 <div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				  高中/中专</span></div>
                  <div class="liebiao_three_one_second"><span>
				  6-7年</span></div>
                  <div class="liebiao_three_one_third"><span>
				上海</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first">专业培训</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">全勤奖</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">餐补</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">绩效奖金</span>
								</div>
                <div class="liebiao_three_three"> 
				  刷新时间:&nbsp;2017-01-17</div>
              </div>
            </div>     
          </li>
			<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              
              
             	<img src="{:config('hongcheng')}/upload/clogo/2017/01/16/1154296933.jpg">
				</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">面点师</span>
					</a>
				</div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                	
                	￥4千-6千</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">上海广暄誉商务信息咨询有限公司</span></div>
              </div>
              	        <!-- 拍招聘标识 -->
                	 <div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				  初中</span></div>
                  <div class="liebiao_three_one_second"><span>
				  3-5年</span></div>
                  <div class="liebiao_three_one_third"><span>
				上海</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first">专业培训</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">全勤奖</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">餐补</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">绩效奖金</span>
								</div>
                <div class="liebiao_three_three"> 
				  刷新时间:&nbsp;2017-01-17</div>
              </div>
            </div>     
          </li>
			<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              
              
             	<img src="{:config('hongcheng')}/upload/clogo/2017/01/16/1154296933.jpg">
				</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">服务员</span>
					</a>
				</div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                	
                	￥4千-6千</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">上海广暄誉商务信息咨询有限公司</span></div>
              </div>
              	        <!-- 拍招聘标识 -->
                	 <div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				  初中</span></div>
                  <div class="liebiao_three_one_second"><span>
				  经验不限</span></div>
                  <div class="liebiao_three_one_third"><span>
				上海</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first">专业培训</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">全勤奖</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">餐补</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">绩效奖金</span>
								</div>
                <div class="liebiao_three_three"> 
				  刷新时间:&nbsp;2017-01-17</div>
              </div>
            </div>     
          </li>
			<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              
              
             	<img src="{:config('hongcheng')}/upload/clogo/2016/08/31/1718353335.png">
				</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">服务员</span>
					</a>
				</div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                	
                	￥2千-3千</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">五稻香餐饮连锁集团</span></div>
              </div>
              	        <!-- 拍招聘标识 -->
                	 <div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				  学历不限</span></div>
                  <div class="liebiao_three_one_second"><span>
				  经验不限</span></div>
                  <div class="liebiao_three_one_third"><span>
				深圳</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first">五险一金</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">包吃包住</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">管理规范</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">技能培训</span>
								</div>
                <div class="liebiao_three_three"> 
				  刷新时间:&nbsp;2017-01-13</div>
              </div>
            </div>     
          </li>
			<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              
              
             	<img src="{:config('hongcheng')}/images/logo_rand/logo17.jpg">
					
				</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">高级服务生</span>
					</a>
				</div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                	
                	￥面议</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">科锐国际</span></div>
              </div>
              	        <!-- 拍招聘标识 -->
                	 <div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				  学历不限</span></div>
                  <div class="liebiao_three_one_second"><span>
				  1年内</span></div>
                  <div class="liebiao_three_one_third"><span>
				上海</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first">五险一金</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">餐补</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">带薪年假</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">岗位晋升</span>
								</div>
                <div class="liebiao_three_three"> 
				  刷新时间:&nbsp;2017-01-11</div>
              </div>
            </div>     
          </li>
			<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              
              
             	<img src="{:config('hongcheng')}/upload/clogo/2017/01/03/2322144930.jpg">
				</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">装盘，雕刻</span>
					</a>
				</div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                	
                	￥面议</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">雅乐庭酒楼</span></div>
              </div>
              	        <!-- 拍招聘标识 -->
                	 <div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				  学历不限</span></div>
                  <div class="liebiao_three_one_second"><span>
				  经验不限</span></div>
                  <div class="liebiao_three_one_third"><span>
				深圳</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first"></span>
								</div>
                <div class="liebiao_three_three"> 
				  刷新时间:&nbsp;2017-01-03</div>
              </div>
            </div>     
          </li>
			<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              
              
             	<img src="{:config('hongcheng')}/images/logo_rand/logo21.jpg">
					
				</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">小吃店学徒</span>
					</a>
				</div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                	
                	￥3千-4千</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">明鑫炖品店</span></div>
              </div>
              	        <!-- 拍招聘标识 -->
                	 <div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				  学历不限</span></div>
                  <div class="liebiao_three_one_second"><span>
				  经验不限</span></div>
                  <div class="liebiao_three_one_third"><span>
				广州</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first"></span>
								</div>
                <div class="liebiao_three_three"> 
				  刷新时间:&nbsp;2017-01-03</div>
              </div>
            </div>     
          </li>
			<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              
              
             	<img src="{:config('hongcheng')}/images/logo_rand/logo16.jpg">
					
				</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">收银员</span>
					</a>
				</div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                	
                	￥面议</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">金鹿鸣餐饮</span></div>
              </div>
              	        <!-- 拍招聘标识 -->
                	 <div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				  学历不限</span></div>
                  <div class="liebiao_three_one_second"><span>
				  经验不限</span></div>
                  <div class="liebiao_three_one_third"><span>
				郑州</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first"></span>
								</div>
                <div class="liebiao_three_three"> 
				  刷新时间:&nbsp;2016-12-30</div>
              </div>
            </div>     
          </li>
			</div>
		          <a href="" class="more_a"><div class=" more more_1">更多职位查看...</div></a>
        </ul>
        <ul class="latest iam_ul" id="latest">
		<div class="biankuangxian">
		<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              	
              	
              	
              	<img src="{:config('hongcheng')}/upload/clogo/2016/2/22/157584210.jpg">
					</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">火锅店服务</span>
					</a>
                </div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                
                	￥3千-4千</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">和田市女王爵士闲趣餐厅</span></div>
              </div>
					  	<!-- 拍招聘标识 -->
                	<div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				   学历不限</span></div>
                  <div class="liebiao_three_one_second"><span>
				  经验不限</span></div>
                  <div class="liebiao_three_one_third"><span>
				抚州</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first">包吃包住</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">交通补贴</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">领导好</span>
								</div>
                <div class="liebiao_three_three">  
				刷新时间:&nbsp;2017-01-30</div>
              </div>
            </div>     
          </li>
			<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              	
              	
              	
              	<img src="{:config('hongcheng')}/upload/clogo/2016/2/22/157584210.jpg">
					</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">川西坝子经理</span>
					</a>
                </div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                
                	￥6千-8千</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">和田市女王爵士闲趣餐厅</span></div>
              </div>
					  	<!-- 拍招聘标识 -->
                	<div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				   学历不限</span></div>
                  <div class="liebiao_three_one_second"><span>
				  3-5年</span></div>
                  <div class="liebiao_three_one_third"><span>
				抚州</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first">包吃包住</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">交通补贴</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">领导好</span>
								</div>
                <div class="liebiao_three_three">  
				刷新时间:&nbsp;2017-01-30</div>
              </div>
            </div>     
          </li>
			<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              	
              	
              	
              	<img src="{:config('hongcheng')}/upload/clogo/2016/2/22/157584210.jpg">
					</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">西餐厨师</span>
					</a>
                </div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                
                	￥6千-8千</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">和田市女王爵士闲趣餐厅</span></div>
              </div>
					  	<!-- 拍招聘标识 -->
                	<div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				   学历不限</span></div>
                  <div class="liebiao_three_one_second"><span>
				  3-5年</span></div>
                  <div class="liebiao_three_one_third"><span>
				和田</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first">包吃包住</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">交通补贴</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">领导好</span>
								</div>
                <div class="liebiao_three_three">  
				刷新时间:&nbsp;2017-01-30</div>
              </div>
            </div>     
          </li>
			<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              	
              	
              	
              	<img src="{:config('hongcheng')}/upload/clogo/2016/2/22/157584210.jpg">
					</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">上菜服务</span>
					</a>
                </div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                
                	￥4千-6千</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">和田市女王爵士闲趣餐厅</span></div>
              </div>
					  	<!-- 拍招聘标识 -->
                	<div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				   学历不限</span></div>
                  <div class="liebiao_three_one_second"><span>
				  经验不限</span></div>
                  <div class="liebiao_three_one_third"><span>
				和田</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first">包吃包住</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">交通补贴</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">领导好</span>
								</div>
                <div class="liebiao_three_three">  
				刷新时间:&nbsp;2017-01-30</div>
              </div>
            </div>     
          </li>
			<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              	
              	
              	
              	<img src="{:config('hongcheng')}/images/logo_rand/logo25.jpg">
					</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">销售经理</span>
					</a>
                </div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                
                	￥4千-6千</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">青三椒鱼头</span></div>
              </div>
					  	<!-- 拍招聘标识 -->
                	<div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				   学历不限</span></div>
                  <div class="liebiao_three_one_second"><span>
				  经验不限</span></div>
                  <div class="liebiao_three_one_third"><span>
				成都</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first"></span>
								</div>
                <div class="liebiao_three_three">  
				刷新时间:&nbsp;2017-01-30</div>
              </div>
            </div>     
          </li>
			<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              	
              	
              	
              	<img src="{:config('hongcheng')}/images/logo_rand/logo10.jpg">
					</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">后堂厨师长</span>
					</a>
                </div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                
                	￥4千-6千</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">青三椒鱼头</span></div>
              </div>
					  	<!-- 拍招聘标识 -->
                	<div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				   学历不限</span></div>
                  <div class="liebiao_three_one_second"><span>
				  经验不限</span></div>
                  <div class="liebiao_three_one_third"><span>
				成都</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first"></span>
								</div>
                <div class="liebiao_three_three">  
				刷新时间:&nbsp;2017-01-30</div>
              </div>
            </div>     
          </li>
			<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              	
              	
              	
              	<img src="{:config('hongcheng')}/images/logo_rand/logo3.jpg">
					</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">前厅领班</span>
					</a>
                </div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                
                	￥4千-6千</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">青三椒鱼头</span></div>
              </div>
					  	<!-- 拍招聘标识 -->
                	<div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				   学历不限</span></div>
                  <div class="liebiao_three_one_second"><span>
				  经验不限</span></div>
                  <div class="liebiao_three_one_third"><span>
				成都</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first"></span>
								</div>
                <div class="liebiao_three_three">  
				刷新时间:&nbsp;2017-01-30</div>
              </div>
            </div>     
          </li>
			<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              	
              	
              	
              	<img src="{:config('hongcheng')}/images/logo_rand/logo21.jpg">
					</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">前厅服务员</span>
					</a>
                </div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                
                	￥3千-4千</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">青三椒鱼头</span></div>
              </div>
					  	<!-- 拍招聘标识 -->
                	<div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				   学历不限</span></div>
                  <div class="liebiao_three_one_second"><span>
				  经验不限</span></div>
                  <div class="liebiao_three_one_third"><span>
				成都</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first"></span>
								</div>
                <div class="liebiao_three_three">  
				刷新时间:&nbsp;2017-01-30</div>
              </div>
            </div>     
          </li>
			<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              	
              	
              	
              	<img src="{:config('hongcheng')}/upload/clogo/2017/01/27/1251137965.jpg">
					</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">地哩传菜员</span>
					</a>
                </div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                
                	￥2千-3千</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">锦和厨房1618粤菜</span></div>
              </div>
					  	<!-- 拍招聘标识 -->
                	<div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				   学历不限</span></div>
                  <div class="liebiao_three_one_second"><span>
				  经验不限</span></div>
                  <div class="liebiao_three_one_third"><span>
				广州</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first">包吃包住</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">专业培训</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">岗位晋升</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">领导好</span>
								</div>
                <div class="liebiao_three_three">  
				刷新时间:&nbsp;2017-01-27</div>
              </div>
            </div>     
          </li>
			<li class="liebiao_1"> 
			<div class="liebiao_1_a">
              <div class="liebiao_touxiang">
              	
              	
              	
              	<img src="{:config('hongcheng')}/images/logo_rand/logo14.jpg">
					</div>
              <div class="liebiao_middle">
                <div class="liebiao_middle_first">
                	<a class="liebiao_middle_first_span"  style="padding:0!important;display:inline;font-weight: 800;color:#6a6a6a;background-color:#fff;" href="">
						<span class="liebiao_middle_first_span">迎宾</span>
					</a>
                </div>
                <div class="liebiao_middle_second" style=""><span>薪资:<span class="liebiao_middle_first_money">
                
                	￥3千-4千</span></span></div>
                <div class="liebiao_middle_third"><span class="liebiao_middle_first_span2">深圳紫披拉餐饮服务有限公司</span></div>
              </div>
					  	<!-- 拍招聘标识 -->
                	<div class="liebiao_three">
                <div class="liebiao_three_one">
                  <div class="liebiao_three_one_first"><span>
				   学历不限</span></div>
                  <div class="liebiao_three_one_second"><span>
				  1-2年</span></div>
                  <div class="liebiao_three_one_third"><span>
				深圳</span></div>
                </div>
                <div class="liebiao_three_two" >
                    <span class="liebiao_three_two_first">五险一金</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">包吃包住</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">全勤奖</span>
								
									|&nbsp;&nbsp;
								<span class="liebiao_three_two_first">岗位晋升</span>
								</div>
                <div class="liebiao_three_three">  
				刷新时间:&nbsp;2017-01-26</div>
              </div>
            </div>     
          </li>
			</div>
                <a href="" class="more_a"><div class=" more more_1">更多职位查看...</div></a>
        </ul>
        
      </div>
    </div>
  </div>
  <!--右边结束--> 
  {include file="public/left" /}
  
  <div class="clearboth"></div>
</div>
<!--主要内容 结束--> 
<!--热门企业 -->
<div class="coopera container-fluid">
  <div class="hot_qiye"><img src="{:config('hongcheng')}/images/hotcompany_1.png" class="hotcompany_1"><span class="hot_qiye_span">热门企业</span></div>
  <div class="coopera_list clearboth" >
     <li class=""><a href="" title="百胜" alt="百胜" target="_blank"><img src="{:config('hongcheng')}/images/index_company_logo/baisheng.jpg" /></a></li>
		<li class=""><a href="" title="公主邮轮" alt="公主邮轮" target="_blank"><img src="{:config('hongcheng')}/images/index_company_logo/gongzhu.jpg" /></a></li>
		<li class=""><a href="" title="海底捞" alt="海底捞" target="_blank"><img src="{:config('hongcheng')}/images/index_company_logo/haidilao.jpg" /></a></li>
		<li class=""><a href="" title="侯氏火锅" alt="侯氏火锅" target="_blank"><img src="{:config('hongcheng')}/images/index_company_logo/houshi.jpg" /></a></li>
		<li class="no_paddind"><a href="" title="九毛九" alt="九毛九" target="_blank"><img src="{:config('hongcheng')}/images/index_company_logo/jiumaojiu.jpg" /></a></li>
		<li class=""><a href="" title="萨莉亚" alt="萨莉亚" target="_blank"><img src="{:config('hongcheng')}/images/index_company_logo/saliya.jpg" /></a></li>
		<li class=""><a href="" title="维也纳" alt="维也纳" target="_blank"><img src="{:config('hongcheng')}/images/index_company_logo/weiyena.jpg" /></a></li>
		<li class=""><a href="" title="小肥羊" alt="小肥羊" target="_blank"><img src="{:config('hongcheng')}/images/index_company_logo/xiaofeiyang.jpg" /></a></li>
		<li class="no_paddind"><a href="" title="喜达屋" alt="喜达屋" target="_blank"><img src="{:config('hongcheng')}/images/index_company_logo/xidawu.jpg" /></a></li>
		<li class=""><a href="" title="西贝" alt="西贝" target="_blank"><img src="{:config('hongcheng')}/images/index_company_logo/xibei.jpg" /></a></li>
  </div>
</div>


<!--热门企业 结束-->

<div class="gekai3"></div>
<!--合作伙伴 -->
<div class="coopera container-fluid">
  <div class="hezuo_1" >
    <li><a target="_blank" href="javascript:;" class="hezuohuoban_1">合作伙伴:&nbsp;</a></li>
    <li><a target="_blank" href="">红餐网&nbsp;</a>|</li>
    <li><a target="_blank" href="">红厨网&nbsp;</a>|</li>
    
    <li><a target="_blank" href="">&nbsp;央视网美食&nbsp;</a>|</li>
    <!--<li><a target="_blank" href=""><img title="餐饮百科" alt="餐饮百科"  src="{:config('hongcheng')}/images/baike.jpg" /></a></li>-->
    <li><a target="_blank" href="">&nbsp;大粤美食&nbsp;</a>|</li>
    <li><a target="_blank" href="">&nbsp;美食天下&nbsp;</a>|</li>
    <li><a target="_blank" href="">&nbsp;搜狐美食&nbsp;</a>|</li>
    <li><a target="_blank" href="">&nbsp;葡萄酒资讯网&nbsp;</a>|</li>
    <li><a target="_blank" href="">&nbsp;0460网站之家</a></li>
  </div>
</div>

<!--合作伙伴 结束-->
<a href="feedback.action"><img src="{:config('hongcheng')}/images/fangkui_1.png" class="fangkui_1"></a>
<div class="gekai3"></div>
<script type="text/javascript" src="{:config('hongcheng')}/js/respond.js"></script>
<script type="text/javascript" src="{:config('hongcheng')}/js/emptyyou.js"></script>
<script type="text/javascript" src="{:config('hongcheng')}/js/html5shiv_62ac5721.js"></script> 
<script type="text/javascript" src="{:config('hongcheng')}/js/selectivizr-min.js"></script>
<script type="text/javascript" src="{:config('hongcheng')}/js/unslider.js"></script>
<script type="text/javascript" src="{:config('hongcheng')}/js/area_data.js"></script>   
<script type="text/javascript" src="{:config('hongcheng')}/js/select.js"></script>


<script type="text/javascript">
//显示手机二维码
if($('#phone_code').length>0){
  var string='';
    $('#phone_code').hover(function(e){
        x= e.pageX;
       y= e.pageY;
     string='<div class="phone_code_img" style="top:'+(y+18)+'px; left:'+(x- 180)+'px"><img src="'+$(this).attr("data-img")+'" /></div>';
$('body').append(string);
    },function(){
     $('.phone_code_img').remove();
    }) ;
}
$(function() { 
	//幻灯
	$("#slider").huandeng({
 	left:'#zhl_huandeng_left',
	right:'#zhl_huandeng_right',
	moveul:'#zhl_huandeng_main_moveul',
	page:'#zhl_huandeng_page',
    pagebtn:'pagedot',
	show_left_right_btn:'#zhl_huandeng',
	autogun:1
	});

	$('#left_div a').click(function(){
		$(this).addClass('active cur').siblings().removeClass('active cur');
		$('#positions ul').fadeOut(10).eq($(this).index()).fadeIn(200);
	});
	
	$('#top_div a').click(function(){
		$(this).attr('class','active cur').siblings().removeClass();
		var stype=$('#stype').val();
		if(stype==1){
			var st=2;
		}else{
			var st=1;
		}
		$('#stype').val(st);
	})
})
function searchJob(searchKey){
	var currentUrl = 'list/c_t_s_e_d_m1_p1.html';
	var stype=$('#stype').val();
	var keywords = $('#keyword').val();
	var newUrl = currentUrl.split('_m');
	var new_url = newUrl[0]+'_m'+stype+'_p1.html';
	if(searchKey != "") keywords = searchKey;
	keywords = encodeURI(keywords);
	if(keywords != "" ) new_url += '?key='+keywords;
	location.href = new_url;
}
function logOut(){
	if(window.confirm("确定要退出吗？")){
		 $.ajax({
				url:'logOut.action?t='+Math.random(),
				type:'Get',cache:false,
				success:function(res){
					if("member_logout_fail"==res.msg){
						alert("退出登录出错！");
					}else{
						location.href= '';
					}
				}
			});
	}
}
var string='<div class="back_to_top"  id="back_to_top" style="display: none;position: fixed;top: 73%;right: 40px;cursor: pointer; width:60px;height:60px;line-height:50px;overflow: hidden;"><img src="images/huitop_1.png" alt="" /></div>';
$('body').append(string);
$("#back_to_top").hide();
$("#back_to_top img").attr('src',"{:config('hongcheng')}/"+"images/huitop_1.png");
$(function () {
    $(window).scroll(function(){
        if ($(window).scrollTop()>250){
            $("#back_to_top").fadeIn(300);

        }
        else
        {
            $("#back_to_top").fadeOut(10);
        }
    });
    $("#back_to_top").click(function(){
        $('body,html').animate({scrollTop:0},200);
        return false;
    });

    
    $('#back_to_top').mouseover(function(e){

        $(".back_to_top img").attr("src", "images/huitop_2.png");
    });
    $('#back_to_top').mouseout(function(e){

        $(".back_to_top img").attr("src", "images/huitop_1.png");
    });

    $('.fangkui_1').mouseover(function(e){

        $(".fangkui_1 ").attr("src", "images/fangkui_2.png");
    });
    $('.fangkui_1').mouseout(function(e){

        $(".fangkui_1").attr("src", "images/fangkui_1.png");
    });
});
</script> 
<!--底部 结束-->


